// This file is generated from the Zaber device database. Do not manually edit this file.
/* eslint-disable */
// tslint:disable
import { DimensionDefinition } from './types';

export const dimensions: DimensionDefinition[] = <%- JSON.stringify(dimensions, null, 2) %>;
